<nav class='control__nav products-nav'>
  <%= link_to 'Active', admin_products_path, class: 'control__nav-item' %>
  <%= link_to 'Inactive', admin_products_path(q: 'inactive'), class: 'control__nav-item' %>
  <%= link_to 'Inventory', admin_products_path, class: 'control__nav-item' %>
  <%= link_to 'Stats', admin_products_path, class: 'control__nav-item' %>
  <%# TODO: Add inventory link (out of stock or retired) %>
  <%# TODO: Add stats link %>
  <%= link_to "+ Product", new_admin_product_path, class: 'control__nav-item button__add-product' %>
</nav>

<div class='control__products'>
  <%= number_to_currency(Product.total_cash_on_hand) %>
  <% @grouped_products.each do |status, products| %>
    <h4>Status: <%= Product.display_status(status) %></h4>
      <% products.each do |product| %>
        <%= link_to(new_admin_product_path) do %>
          <div class='product-item'>
            <h4 class='product-item__product-name'>
              <%= product.name %>
            </h4>
            <div class='control product-item__product-stock'>
              <%= product.quantity %>
            </div>
            <div class='control product-item__product-price'>
              <%= number_to_currency(product.price) %> USD
            </div>
            <div class='control product-item__product-create-date'>
              <%= product.created_at.strftime('%b %e, %Y') %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>